.container {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

button {
    border-color: green;
    font-size: 15px;
    border-radius: 10px;
}